#loader {
    display: none;
}

#loader img {
    width: 100%;
}

.stats_container .row:nth-of-type(n+2) {
    border: solid 1px black;
    border-top: 0px;
}

.stats_container .row:nth-of-type(n+2) div {
    padding: 1%;
}

.stats_container .row:nth-child(even) {
    background-color: #EEEEEE;
}

.stats_container .row:first-child {
    border: solid black 1px;
}

.stats_container .row:first-child div {
    background-color: #DDDDDD;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 1%;
    text-align: center;
}

.stats_container .row:nth-of-type(n+2):hover {
    background-color: #444444;
    cursor: pointer;
    color:#EEEEEE;
}

.fixtures {
    margin-bottom: 20px;
}

.standing {
    margin-top: 20px;
}

.home, .away {
    display: none;
}

.teams div:hover {
    background-color: #444444;
    cursor: pointer;
    color:#EEEEEE;
}

.team img {
    height: 100px;
}